* {
  box-sizing: border-box;
}

:host {
  background-color: #eee;
  display: flex;
  height: 100vh;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  padding: 48px;
  max-width: 1400px;
  width: 100%;
}
